*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}

#titleScreen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: green;
    display: grid;
    place-items: center;
}

#gameScreen{
    left: -100vw;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
}