@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#startScreen{
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
}

#gameScreen{
    position: fixed;
    left: -100vw;
    height: 100%;
    width: 100%;
}

#svg-container{
    position: absolute;
    top: 50%;
    right: 5rem;
    fill: yellow;
}

#lyn{
    fill: yellow;
}