.lightning-container {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
    width: 15rem;
  }

  #lightBorder{
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    transform: rotate(-10deg)
  }
  
  .lightning-segment {
    user-select: none;
    border-radius: 10rem;
    position: absolute;
    width: 5%;
    background-color: #fff9a9;
    box-shadow: 0 0 0 transparent, 0 0 10px #ffea00, 0 0 20px #baaa00, 0 0 40px #ffea00, 0 0 10px #ffea00, 0 0 200px #ffea00, 0 0 300px #ffea00, 0 0 0px #ffea00, 0 0 1px #ffea00;
    -webkit-animation: blink 4s 3s infinite alternate;
            animation: blink 4s 3s infinite alternate;  }
  
  .lightning-segment:nth-child(1) {
    top: 2%;
    height: 50%;
    left: 45%;
    transform: rotate(43deg);
  }
  
  .lightning-segment:nth-child(2) {
    height: 15%;
    top: 43%;
    left: 19%;
    transform: rotate(115deg);
  }
  
  .lightning-segment:nth-child(3) {
    height: 35%;
    left: 23%;
    top: 52%;
    transform: rotate(26deg);
  }
  
  .lightning-segment:nth-child(4) {
    bottom: 2%;
    width: 5%;
    height: 50%;
    left: 45%;
    transform: rotate(43deg);
  }
  
  .lightning-segment:nth-child(5) {
    height: 15%;
    top: 42%;
    left: 70%;
    transform: rotate(115deg);
  }

  .lightning-segment:nth-child(6) {
    height: 35%;
    left: 66%;
    top: 13%;
    transform: rotate(26deg);
  }
  