@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    position: fixed;
    width: 100vw;
    height: 14vh;
    background: black;
    display: grid;
    place-items: center;
    color: white;
}

main{
    position: fixed;
    top: 10vh;
    height: 84vh;
    padding: 2rem;
}

#save-button{
    font-weight: bold;
    padding: .2rem;
}